Order allow,deny
Allow from all

SetEnvIf User-Agent ".*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0

SSLVerifyClient optional
SSLVerifyDepth 4
SSLOptions +StdEnvVars +ExportCertData

